



body {
    font-family: "UD デジタル 教科書体 NP-R", Arial, Helvetica, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}

header, main, footer {
    padding: 2em;
    background-color: white;
}

.global-header {
    display: inline-block;
    background-color: royalblue;
    color: white;
    padding: 20px;
    margin-top: 0;
}

.global-header a {
    color: white;
}

.global-header > h1 {
    font-size: 1em;
    display: inline;
}

.global-header > p {
    display: inline;
}

.global-header > h1:before {
    content: "";
}

.global-header > h1::after {
    content: "™";
}

.global-header > p:before {
    content: "――";
}



footer {
    text-align: right;
}

a {
    text-decoration: none;
}

h1, h2, h3, h5, h6 {
    margin: 2em 0;
}


pre {
    max-width: 100%;
    overflow: auto;
}

code {
    max-width: 100%;
    overflow: hidden;
}

img {
    max-width: 100%;
}

table {
    margin: 2em;
}

th {
    font-weight: bold;
}

tr {

}

td {
    border-bottom: 1px solid gray;
    padding: 0.5em;
}

.entry__footer-navigation {
    text-align: center;
    margin: 2em;
}

.entry__footer-lastmod {
    margin: 2em;
}

.entry__header-date, .entry__footer-date {
    text-align: right;
    margin: 2em 0;
}

.entry__footer-prev {
    display: inline;
}

.entry__footer-next {
    display: inline;
}

.entry__footer-share {
    display: inline;
}

.entry__footer-share ul, .entry__footer-share li {
    display: inline;
}