<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    
    <style>
        body 
        {
            font-family: "UD Digi Kyokasho NK-R", sans-serif;
            max-width: 960px;
            margin: 20px auto;
            padding: 20px;
        }

        hr
        {
            margin: 20px auto;
            height: 0;
            border: 0.5px lightgrey solid;
        }

        p, li, dt, dd, h1, h2, h3, h4, h5, h6 {
            line-height: 200%;
        }
    </style>

</head>
<body>
    <h1>{{ .Title }}</h1>

    <p>だるやなぎ（英：daruyanagi、本名：柳 英俊）は、動物界後生動物亜界脊索動物門羊膜亜門哺乳綱真獣亜綱正獣下綱霊長目真猿亜目狭鼻猿下目ヒト上科ヒト科ヒト下科ホモ属サピエンス種サピエンス亜種に属する生き物です。だるだるするのが好き。</p>

    <p>趣味は読書、プログラミング、御朱印集め。ときどきクルマ（Honda S660）やバイク（Ninja 250）で旅行に出かける。</p>

    <p>略歴</p>
    <ul>
        <li>1980年：4月20日、間違って大阪市住之江区に生まれる。4人兄弟（♂×3＋♀）の長男。名前は亡き父方の祖父が姓名判断で付けてくれた
        </li>
        <li>1983年：4月、加賀幼稚園で4年保育。ひらがなの習字では、上がつながっていない方の「そ」を書く</li>
        <li>1987年：4月、大阪市立北粉浜小学校に入学。敷地にケンタッキーフライドチキンがめり込んでいて、校庭が狭かった。在学中、学校から国道26号線を挟んで向かいの住之江粉浜西郵便局で強盗。局長が亡くなる</li>
        <li>1988年：初のラブレターをもらう。人生の<ruby>最盛期<rp>（</rp><rt>ピーク</rt><rp>）</rp></ruby></li>
        <li>1989年：1月、昭和天皇崩御。楽しみにしていた凧揚げ大会が中止になる。5月、交通事故で死にかける。半年ほど山本第三病院（大阪市西成区）に入院</li>
        <li>1991年：12月、三重県名張市桔梗が丘に転居。蔵持小学校に転入する。数年かけて近鉄電車のポケット時刻表を全駅コンプリート</li>
        <li>1993年：4月、私立西大和学園中学校（奈良県、中高一貫の男子校）へ適当に入学。サッカー部に入るが、速攻やめる</li>
        <li>1995年：1月、阪神淡路大震災。近鉄電車が全部各駅停車になったので、3時間ほどかけて昼前に登校</li>
        <li>1996年：4月、私立西大和学園高等学校になんとなく進学。野球部に入るが、速攻やめる。将棋部に籍を置きながら、パソコン研究会でゴロゴロする毎日。最後の一年は寮で過ごす</li>
        <li>1999年：3月、センター試験で大失敗。気が付いたら私立西大和学園高等学校を卒業していた。4月より、授業料がタダだった代々木ゼミナールに通う。この頃、プログラミング言語（Delphi → C#）を自得。自作 PC を楽しむ。<span style="color: blue">B</span><span style="color: red">e</span>OS にも触れ、C/C++ 言語を学ぶ。漠然と役人にでもなるかと法学を志望していたが、ゲーム理論の本などを読んで経済学を志すようになる</li>
        <li>2000年：4月、一年浪人して京都の大学（経済学部）に進学。バイト先はもっぱら居酒屋。成人式は受験のため出なかったというか、存在を忘れてた</li>
        <li>2001年：9月、アメリカ同時多発テロ事件。サークル・社会科学研究会の仲間に ICQ で NHK を見ろと連絡を受ける。この頃から、偉大な経済学者たちの共和主義思想に興味を持ちはじめる</li>
        <li>大学をやめ、京都から関東へ。借金を抱えながら、謎の仕事にいろいろ従事する。その間、埼玉県八潮市、千葉県四街道市、千葉県稲毛区などを転々とするが、最終的に完全週休二日制の仕事を求め、（株）Impress Watch（現、神保町。当時は市ヶ谷）に入社した。途中、秋葉原に下車できるという理由で、東京都江戸川区小岩、千葉県市川市などから通う。借金返済と薄給で、ときどきガスが止まる</li>
        <li>2007年：12月、Twitter のアカウントを作成してしまう。人生の終わりの始まり</li>
        <li>2011年：3月、東日本大震災。市ヶ谷から小岩まで歩いて帰る。</li>
        <li>2014年：2月、8～9年ほど？働いた Impress Watch を退職して無職になる。父を連れて、愛媛県松山市に居を移す。10月、国際だるやなぎ会議を開催</li>
        <li>2019年：5月、令和に改元。JR 松山駅前にマンションを購入する。書類で「平成」と「令和」を間違えるミスを繰り返すも、無事35年ローンレンジャーに</li>
        <li>2020年：4月、結婚しないまま40歳になり、絶望する</li>
    </ul>

    <p>資格</p>
    <ul>
        <li>普通自動車免許</li>
        <li>移動式クレーン運転士免許</li>
    </ul>
    <hr />

    <h2>連絡先</h2>

    <dl>
        <dt>web</dt>
        <dd><a href="//daruyanagi.jp/">daruyanagi.jp</a> （メールは mail@- まで）</dd>
        <dt>twitter</dt>
        <dd><a href="//twitter.com/YanagiHidetoshi">@YanagiHidetoshi</a></dd>
        <dd><a href="//twitter.com/daruyanagi">@daruyanagi</a>（裏アカウント）</dd>
        <dt>facebook</dt>
        <dd><a href="//facebook.com/YanagiHidetoshi/">YANAGI Hidetoshi</a></dd>
        <dt>github</dt>
        <dd><a href="//github.com/daruyanagi">@daruyanagi</a></dd>
    </dl>

    <hr />

    &copy; 2020 daruyanagi.

    <!--
    <ul>
        <li><a href="{{ .Site.BaseURL }}categories/">カテゴリー</a></li>
        <li><a href="{{ .Site.BaseURL }}tags/">タグ</a></li>
      </ul>-->
</body>
</html>


