{{ define "main" }}

<section class="jumbotron">
  <div class="container">
    <h1 class="text-center">{{ .Title }}</h1>
    <p class="lead text-muted">
      {{ .Content }}
      <!--
    <p class="text-center">
      <a href="/about" class="btn btn-primary my-2">詳細</a>
    </p>-->
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-0944887782985208"
        data-ad-slot="1874908316"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <h2 class="text-center" style="margin-bottom: 3rem; margin-top: 3rem;">新着記事 
        <a href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fblog.daruyanagi.jp%2Findex.xml" target="blank">
            <img height="32" src="//s3.feedly.com/img/follows/feedly-follow-logo-green_2x.png" alt="follow us in feedly">
        </a>
        <a href="https://blog.daruyanagi.jp/index.xml">
            <img height="24" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Generic_Feed-icon.svg/32px-Generic_Feed-icon.svg.png">
        </a>
    </h2>
    <div class="row">

      {{ range first 11 .Site.RegularPages.ByDate.Reverse }}

        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4 shadow-sm">
            {{ if .Params.eyecatch }}
            {{ $resource := .Page.Resources.GetMatch (.Params.eyecatch) }}
            {{ $thumbnail :=  $resource.Fit "640x480" }}
            <img class="card-img-top" src="{{ $thumbnail.RelPermalink }}" alt="">
            {{ else }}
            <img class="card-img-top" src="{{ .Site.Params.og_image }}"   alt="">
            {{ end }}
            <div class="card-body">
              <p class="card-title"><a href="{{.RelPermalink}}">{{ .Title }}</a></p>
              <small class="text-muted"><time>{{.Date.Format "2006-01-02"}}</time></small>
              <small class="card-text">{{ .Summary }}</small>
              <!-- <a href="{{.RelPermalink}}" class="btn btn-primary">読む</a>-->
            </div>
          </div>
        </div>      

      {{ end }}

      <div class="col-md-4">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-0944887782985208"
            data-ad-slot="7395662458"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>      
    </div>
  </div>
</div>

{{end}}