/* Album Theme */

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
  
/* User Defined */

.jumbotron {
  border-radius: 0;
  background: no-repeat center url(/header-1500x500.jpg);
  background-size: cover;
}

.jumbotron .container
{
    padding: 3rem;
    background: rgba(255,255,255,0.75);
}





body, .font-normal {
  font-family: "UD Digi Kyokasho NP-R", sans-serif;
}

body p {
  line-height: 200%;
  margin: 1rem 0;
}


article img
{
    max-width: 100%;
}
table.table
{
  margin: 3rem 0;
}

blockquote.blockquote
{
  background-color: #f8f9fa!important;
  padding: 3rem;
}

figcaption
{
  margin: 1rem;
}

.card 
{
  min-height: 520px;
}

pre 
{
  padding: 3rem;
  overflow: hidden;
}