{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{- $s := $image.Fit  "480x360 jpg" -}}
{{- $m := $image.Fit  "800x600 jpg" -}}
{{- $l := $image.Fit  "1024x768 jpg" -}}
{{- $alt := .PlainText | safeHTML -}}

<figure class="figure text-center">
    <a href="{{ $image.RelPermalink }}">
        <picture>
            <source media="(max-width: 480px)" srcset="{{ $s.RelPermalink }} 480w">
            <source media="(max-width: 800px)" srcset="{{ $m.RelPermalink }} 800w">
            <source media="(max-width: 1024px)" srcset="{{ $l.RelPermalink }} 1024w">
            <img src="{{ $image.RelPermalink }}" alt="{{ $alt }}" decoding="async" loading="lazy">
        </picture>        
    </a>

    <figcaption class="figure-caption">{{ $alt }}</figcaption>
</figure>
