<div class="container">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-0944887782985208"
         data-ad-slot="1125180844"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div class="spacer" style="height: 3rem;"></div>

    <p class="float-right">
    <a href="#">Back to top</a>
    </p>
    <p>
        &copy; <a href="daruyanagi.jp">daruyanagi</a> 2007-2020. </p>
</div>

