
<!doctype html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}}

    <meta name="og:title"         property="og:title" content="{{ .Title }}" />
    <meta name="og:site_name"     property="og:site_name" content="{{ .Site.Title }}" />
    <meta name="og:description"   property="og:description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    {{ if .IsHome }}
    <meta name="og:type"          property="og:type" content="website" />
    {{ else }}
    <meta name="og:type"          property="og:type" content="article" />
    {{ end }}
    {{ if .Params.eyecatch }}
    {{ $resource := .Page.Resources.GetMatch (.Params.eyecatch) }}
    {{ $thumbnail :=  $resource.Fit "640x480" }}
    <meta name="og:image"         property="og:image" src="{{ $thumbnail.Permalink }}"            content="{{ $thumbnail.Permalink }}"            alt="">
    {{ else }}
    <meta name="og:image"         property="og:image" src="{{ .Site.Params.og_image | absURL }}"  content="{{ .Site.Params.og_image | absURL }}"  alt="">
    {{ end }}
    <meta name="fb:admins"        property="fb:admins" content="2150442315382" />
    <meta name="twitter:card"     property="twitter:card" content="summary" />
    <meta name="twitter:url"      property="twitter:card" content="{{ .Permalink }}" />
    <meta name="twitter:site"     property="twitter:card" content="@daruyanagi" />

    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">
  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="/" class="navbar-brand"><img src="/logo.png" height="30" alt=""> {{ .Site.Title }}</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <span  class="navbar-text">{{ .Site.Params.Description }}</span>
                    </li>
                </ul>

            <form class="form-inline" action="/search">
                <div class="input-group">
                  <input name="q" id="q" type="text" class="form-control" spellcheck="false" data-ms-editor="true">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Find</button>
                  </div>
                </div>
            </form>
            </div>   
        </div>
    </nav>

    <main role="main">
        {{- block "main" . }}{{- end }}
    </main>

    <footer class="text-muted"></footer>
        {{- partial "footer.html" . -}}
    </footer>

    <script src="//code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script></body>

    <script>
      const tables = document.getElementsByTagName("table");
      for (var i = 0; i < tables.length; i++)
      {
        tables[i].classList.add("table");
      }

      const blockquotes = document.getElementsByTagName("blockquote");
      for (var i = 0; i < blockquotes.length; i++)
      {
        blockquotes[i].classList.add("blockquote");
      }
      
      const cards = document.getElementsByClassName("card");
      let max = 0;
      for (var i = 0; i < cards.length; i++)
      {
        if (cards[i].clientHeight > max) max = cards[i].clientHeight;
      }
      for (var i = 0; i < cards.length; i++)
      {
        cards[i].style.height = max + "px";
      }
    </script>
</html>
