{{ define "main" }}
<article class="container" style="margin-top: 3rem;">
    <header>
        <h1>{{.Title}}</h1>
        
        <p class="published text-right">執筆日時：<time datetime='{{ .Date.Format "Mon, 02 Jan 2006 15:04:05 MST" }}'> {{ .Date.Local.Format "2006年1月2日15時04分"}}</time></p>
    </header>

    {{ .Content }}

    <footer>
        <hr />

        <!-- metadata -->
        <div class="card" style="width: 100%;">
            
            <div class="card-header">
                記事「{{ .Title }} 」について
                <span class="float-right"><img src="https://twitter.com/favicon.ico" style="height: 16px; vertical-align: middle;"><a href="https://twitter.com/search?q={{ .Permalink }}">Twitter.com で反応を見る</a></span>
            </div>

            <div class="card-body">
                <p>
                この記事は <time datetime='{{ .Date.Format "2006-01-02"}}'> {{ .Date.Format "2006年1月2日15時04分"}}</time>、<a href="/about">@daruyanagi</a>  によって執筆されました。
                リソース一式は <img src="https://github.com/favicon.ico" style="height: 16px; vertical-align: middle;"> <a href="{{ .Site.Params.GitHub }}tree/master/content{{ .RelPermalink }}">GitHub.com</a> から入手できます。
                誤植などがありましたら               
                <a href="https://github.com/daruyanagi/blog.daruyanagi.jp/issues/new?labels=bug&title={{ .RelPermalink }}">isuue を作成</a>していただけると、
                気が向いたときに直すかもしれません。
                </p>

                <p>変更履歴：<img src="https://github.com/favicon.ico" style="height: 16px; vertical-align: middle;"> <a href="{{ .Site.Params.GitHub }}commits/master/content{{ .RelPermalink }}/index.md">GitHub.com でみる</a></p>

                {{- $endpoint := printf "https://api.github.com/repos/daruyanagi/blog.daruyanagi.jp/commits?path=/content%sindex.md" .RelPermalink -}}
                {{- $json := getJSON $endpoint -}}
                <ul class="list-group  list-group-flush">
                    {{ range $json }}
                        <li class="list-group-item"><a href="{{ .html_url | safeURL }}"><time class="text-mute" datetime="{{ .commit.author.date }}">{{ (time .commit.author.date).Local.Format "2006年1月2日15時04分" }}</time></a></li>
                    {{ end }}
                </ul>

                <p>タグ：{{ with .Params.tags }}{{ range . }}[<a href="/tags/{{ . | urlize }}">{{ . }}</a>] {{ end }}{{ end }}</p>

                <p>ちなみに、
                {{- with .PrevInSection -}}
                前の記事は「<a href="{{ .Permalink }}">{{ .Title }}</a>」です。
                {{- end -}}

                {{- with .NextInSection -}}
                次の記事は「<a href="{{ .Permalink }}">{{ .Title }}</a>」です。
                {{- end -}}
                </p>
            </div>
            
            <div class="card-footer">
                <a class="card-link" href="https://twitter.com/intent/tweet?url={{ .Permalink | safeURL }}&hashtags=%E3%81%A0%E3%82%8B%E3%82%8D%E3%81%90&related=YanagiHidetoshi%2Cdaruyanagi"><img src="https://twitter.com/favicon.ico" style="height: 16px; vertical-align: middle;"> Twitter.com に投稿する</a>
                <a class="card-link" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeURL }}"><img src="https://www.facebook.com/favicon.ico" style="height: 16px; vertical-align: middle;"> Facebook.com に投稿する</a>             
            </div>
          </div>

        <hr />

        <!-- Hatena bookmark comment -->
        <script type="text/javascript" src="/js/hatena-bookmark.js"></script>
        {{- if not .Site.IsServer }}
        <script type="text/javascript" src="//b.hatena.ne.jp/entry/jsonlite/?url={{ .Permalink | safeURL }}&callback=HatenaBookmarkCallback"></script>
        {{- else }}
        <script type="text/javascript" src="//b.hatena.ne.jp/entry/jsonlite/?url=https%3A%2F%2Fblog.daruyanagi.jp%2Fentry%2F2020%2F05%2F05%2F0425%2F&callback=HatenaBookmarkCallback"></script>
        {{- end }}
    </footer>
</article>

{{end}}